n8n-workflows/Nexus_Orchestrator.json
{
  "name": "Nexus_Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "22a5bd64-4462-4220-a79e-f8d8ffb2779e",
      "name": "POST /orchestrator",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        240
      ],
      "webhookId": "orchestrator"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    message: body.message || '',\n    session_id: body.session_id || '',\n    context: body.context || '',\n    start_time: Date.now()\n  }\n}];"
      },
      "id": "c18824eb-aa44-455d-ae27-5ea9ba28857f",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3', stream: false, messages: [ { role: 'system', content: 'You are an intent classifier. Given a user message, determine which agent should handle it.\\nRespond ONLY with valid JSON: { \"agent\": \"<agent_name>\", \"confidence\": <0.0-1.0> }\\n\\nAgents:\\n- docmentor: Questions about uploaded documents, \"what does the doc say about...\"\\n- review: Analyzing reviews, sentiment, extracting patterns from review text\\n- digest: Setting up content digests, topic subscriptions, \"send me updates about...\"\\n- file: Uploading files, processing documents, \"parse this PDF\"\\n- general: Anything that doesn\\'t fit the above\\n\\nDo not explain. JSON only.' }, { role: 'user', content: $json.message } ] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "be17dcb7-fe24-4490-b6f0-34247a884c68",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst content = response.message?.content || response.response || '';\nconst sessionId = $('Extract Input').first().json.session_id;\nconst originalMessage = $('Extract Input').first().json.message;\n\nlet agent = 'general';\nlet confidence = 0;\n\ntry {\n  let jsonStr = content;\n  const codeBlockMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (codeBlockMatch) {\n    jsonStr = codeBlockMatch[1];\n  } else {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) jsonStr = jsonMatch[0];\n  }\n  \n  const parsed = JSON.parse(jsonStr);\n  agent = parsed.agent || 'general';\n  confidence = parseFloat(parsed.confidence) || 0;\n} catch (e) {\n  agent = 'general';\n  confidence = 0;\n}\n\nconst validAgents = ['docmentor', 'review', 'digest', 'file', 'general'];\nif (!validAgents.includes(agent)) agent = 'general';\n\nreturn [{\n  json: {\n    agent: agent,\n    confidence: confidence,\n    session_id: sessionId,\n    original_message: originalMessage,\n    start_time: $('Extract Input').first().json.start_time\n  }\n}];"
      },
      "id": "3e94e3cf-6ba8-41d9-b293-02c8cae2818b",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "docmentor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "DocMentor"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Review"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "digest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Digest"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "File"
            }
          ]
        },
        "options": {}
      },
      "id": "6511e2c1-3789-4f1f-8154-837ecb901b73",
      "name": "Route to Agent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -224,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_URL }}/webhook/docmentor/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $('Parse Intent').first().json.original_message, session_id: $('Parse Intent').first().json.session_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d68a1e73-4bbd-40ca-b550-37d17a2844bf",
      "name": "Call DocMentor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_URL }}/webhook/review/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Parse Intent').first().json.original_message, type: 'restaurant' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "074ddd56-eecf-4964-bc5d-d3679480c10a",
      "name": "Call Review Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        144
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_URL }}/webhook/digest/latest",
        "options": {
          "timeout": 30000
        }
      },
      "id": "0a739641-56d6-4a18-8e12-e5406c32f003",
      "name": "Call Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    agent_response: 'To upload and process files, please use the File Manager page. You can drag and drop files there or click to browse. Supported formats: PDF, TXT, MD, CSV, JSON.',\n    agent: 'file'\n  }\n}];"
      },
      "id": "8ac8371d-f817-4123-a092-dc6a7378ef59",
      "name": "File Upload Redirect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3', stream: false, messages: [ { role: 'system', content: 'You are Nexus, a helpful AI assistant. You are part of a multi-agent platform that includes specialized agents for document Q&A (DocMentor), review analysis, content digests, and file processing. Answer the user\\'s question helpfully and concisely. If their request would be better handled by a specific agent, mention it.' }, { role: 'user', content: $('Parse Intent').first().json.original_message } ] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "4c0e1fee-b238-476c-8602-c5c42f372646",
      "name": "General Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const agent = $('Parse Intent').first().json.agent;\nconst sessionId = $('Parse Intent').first().json.session_id;\nconst data = $json;\n\nlet response = '';\n\nif (agent === 'docmentor') {\n  // DocMentor returns async job_id\n  if (data.job_id) {\n    response = JSON.stringify({ job_id: data.job_id, status: data.status || 'processing' });\n  } else {\n    response = data.response || 'DocMentor is processing your request.';\n  }\n} else if (agent === 'review') {\n  response = data.summary || JSON.stringify(data);\n} else if (agent === 'digest') {\n  if (data.content) {\n    response = 'Here is your latest digest. Check the Digest page for the full content.';\n  } else {\n    response = 'No digests found. Configure one on the Digest page.';\n  }\n} else if (agent === 'file') {\n  response = data.agent_response || 'Please use the File Manager page to upload files.';\n} else {\n  // General chat\n  response = data.message?.content || data.response || 'I\\'m not sure how to help with that. Try asking about your documents, reviews, or digests.';\n}\n\nreturn [{\n  json: {\n    agent: agent,\n    response: response,\n    session_id: sessionId\n  }\n}];"
      },
      "id": "c19fa8b5-44bd-42fd-866a-3ecbbe34a39b",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c1a0919b-380e-4082-8c32-51f5b5a78ad9",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        240
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appDyd2AnWGViGLOU",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblwMOgVqj6aE7Nyo",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "agent": "={{ $json.agent }}",
            "input_preview": "={{ $('Parse Intent').first().json.original_message.slice(0, 200) }}",
            "output_preview": "={{ (typeof $json.response === 'string' ? $json.response : JSON.stringify($json.response)).slice(0, 200) }}",
            "response_time_ms": "={{ Date.now() - $('Parse Intent').first().json.start_time }}",
            "status": "success",
            "source": "orchestrator"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "docmentor",
                  "value": "docmentor"
                },
                {
                  "name": "review",
                  "value": "review"
                },
                {
                  "name": "digest",
                  "value": "digest"
                },
                {
                  "name": "file",
                  "value": "file"
                },
                {
                  "name": "system",
                  "value": "system"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_preview",
              "displayName": "input_preview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_preview",
              "displayName": "output_preview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "response_time_ms",
              "displayName": "response_time_ms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "success",
                  "value": "success"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "timeout",
                  "value": "timeout"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1557ab64-ed0b-4807-8b14-66bbfec4e380",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        240
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VSgEZSiL9eqFcK2P",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "POST /orchestrator": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Route to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Agent": {
      "main": [
        [
          {
            "node": "Call DocMentor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Review Analyst",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Upload Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DocMentor": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Review Analyst": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Digest": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Upload Redirect": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        [
          {
            "node": "Log Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "33c2c4f4-a4e5-4c98-885e-27626b8e760d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0761f8492b4866bda8ebaedcec3883acae3223467cfb1fddd1e7788ba6db303c"
  },
  "id": "2NqijkYQkT4DaPJGMQj6f",
  "tags": [
    {
      "updatedAt": "2026-05-06T20:08:00.158Z",
      "createdAt": "2026-05-06T20:08:00.158Z",
      "id": "MFfoh7SXIYhblAyg",
      "name": "routing"
    },
    {
      "updatedAt": "2026-05-06T20:08:00.156Z",
      "createdAt": "2026-05-06T20:08:00.156Z",
      "id": "Z96hyAzmM6DAqhGB",
      "name": "orchestrator"
    }
  ]
}