n8n-workflows/Nexus_Interaction Analytics.json
{
  "updatedAt": "2026-05-21T06:48:13.090Z",
  "createdAt": "2026-05-04T20:09:26.627Z",
  "id": "Zdg3ORhvRdltW73ELzjQp",
  "name": "Nexus_Interaction Analytics",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "cc9648cb-9a6f-4839-bf21-3e8cd3340e7b",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_INTERACTIONS_TABLE_ID",
          "mode": "id"
        },
        "filterByFormula": "=IS_AFTER({created_at}, DATEADD(NOW(), -24, 'hours'))",
        "options": {}
      },
      "id": "0361f10d-454e-42f9-9210-d7b0d79ff7d7",
      "name": "Read Recent Interactions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const interactions = $input.all().map(item => item.json.fields || item.json);\nconst total = interactions.length;\n\n// By agent \u2014 compute total, avg_response_ms, error_count per agent\nconst agentData = {};\ninteractions.forEach(i => {\n  const agent = i.agent || 'unknown';\n  if (!agentData[agent]) agentData[agent] = { total: 0, times: [], errors: 0 };\n  agentData[agent].total++;\n  const ms = parseInt(i.response_time_ms) || 0;\n  if (ms > 0) agentData[agent].times.push(ms);\n  if (i.status === 'error') agentData[agent].errors++;\n});\n\nconst byAgent = {};\nfor (const [agent, d] of Object.entries(agentData)) {\n  byAgent[agent] = {\n    total: d.total,\n    avg_response_ms: d.times.length > 0 ? Math.round(d.times.reduce((a, b) => a + b, 0) / d.times.length) : 0,\n    error_count: d.errors\n  };\n}\n\n// Avg response time (global)\nconst allTimes = interactions.map(i => parseInt(i.response_time_ms) || 0).filter(t => t > 0);\nconst avgResponseMs = allTimes.length > 0 ? Math.round(allTimes.reduce((a, b) => a + b, 0) / allTimes.length) : 0;\n\n// Error rate\nconst errors = interactions.filter(i => i.status === 'error').length;\nconst errorRate = total > 0 ? parseFloat((errors / total).toFixed(4)) : 0;\n\n// Peak hour\nconst hourCounts = {};\ninteractions.forEach(i => {\n  if (i.created_at) {\n    try {\n      const hour = new Date(i.created_at).getHours();\n      hourCounts[hour] = (hourCounts[hour] || 0) + 1;\n    } catch (e) {}\n  }\n});\nconst peakHour = Object.keys(hourCounts).length > 0 ? parseInt(Object.entries(hourCounts).sort((a, b) => b[1] - a[1])[0][0]) : 0;\n\n// Top document\nconst docMentions = {};\ninteractions.forEach(i => {\n  if (i.agent === 'docmentor' && i.input_preview) {\n    const key = i.input_preview.slice(0, 80);\n    docMentions[key] = (docMentions[key] || 0) + 1;\n  }\n});\nconst topDocument = Object.keys(docMentions).length > 0 ? Object.entries(docMentions).sort((a, b) => b[1] - a[1])[0][0] : '';\n\nreturn [{\n  json: {\n    period: 'hourly',\n    total_interactions: total,\n    by_agent: JSON.stringify(byAgent),\n    avg_response_ms: avgResponseMs,\n    error_rate: errorRate,\n    peak_hour: peakHour,\n    top_document: topDocument\n  }\n}];"
      },
      "id": "63234fde-1c21-4986-ad3b-fa0ce5a3f9a5",
      "name": "Compute Aggregates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_ANALYTICS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "period": "={{ $json.period }}",
            "total_interactions": "={{ $json.total_interactions }}",
            "by_agent": "={{ $json.by_agent }}",
            "avg_response_ms": "={{ $json.avg_response_ms }}",
            "error_rate": "={{ $json.error_rate }}",
            "peak_hour": "={{ $json.peak_hour }}",
            "top_document": "={{ $json.top_document }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "total_interactions",
              "displayName": "total_interactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "period",
              "displayName": "period",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "hourly",
                  "value": "hourly"
                },
                {
                  "name": "daily",
                  "value": "daily"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "by_agent",
              "displayName": "by_agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "avg_response_ms",
              "displayName": "avg_response_ms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_rate",
              "displayName": "error_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "peak_hour",
              "displayName": "peak_hour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "top_document",
              "displayName": "top_document",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3e44171e-5999-4d65-9313-a26e28b3f3a8",
      "name": "Write Analytics Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "analytics/summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4ee5747c-44d4-4c63-bba5-29af912aa013",
      "name": "GET /analytics/summary",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "analytics-summary"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_INTERACTIONS_TABLE_ID",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "read-all-interactions",
      "name": "Read All Interactions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst interactions = items.map(item => item.json.fields || item.json);\n\n// Get time range from webhook query\nlet range = 'all';\ntry {\n  const webhookData = $('GET /analytics/summary').first().json;\n  range = webhookData.query?.range || webhookData.body?.range || 'all';\n} catch(e) {}\n\nconst now = new Date();\nlet cutoff = null;\nif (range === '7d') cutoff = new Date(now - 7 * 24 * 60 * 60 * 1000);\nelse if (range === '30d') cutoff = new Date(now - 30 * 24 * 60 * 60 * 1000);\n\nconst filtered = cutoff\n  ? interactions.filter(i => {\n      const d = new Date(i.created_at || i.Created || 0);\n      return d >= cutoff;\n    })\n  : interactions;\n\nconst total = filtered.length;\n\n// By agent\nconst agentData = {};\nfiltered.forEach(i => {\n  const agent = i.agent || 'unknown';\n  if (!agentData[agent]) agentData[agent] = { total: 0, times: [], errors: 0 };\n  agentData[agent].total++;\n  const ms = parseInt(i.response_time_ms) || 0;\n  if (ms > 0 && ms < 300000) agentData[agent].times.push(ms);\n  if (i.status === 'error') agentData[agent].errors++;\n});\n\nconst byAgent = {};\nfor (const [agent, d] of Object.entries(agentData)) {\n  byAgent[agent] = {\n    total: d.total,\n    avg_response_ms: d.times.length > 0 ? Math.round(d.times.reduce((a, b) => a + b, 0) / d.times.length) : 0,\n    error_count: d.errors\n  };\n}\n\n// Global avg response\nconst allTimes = filtered.map(i => parseInt(i.response_time_ms) || 0).filter(t => t > 0 && t < 300000);\nconst avgResponseMs = allTimes.length > 0 ? Math.round(allTimes.reduce((a, b) => a + b, 0) / allTimes.length) : 0;\n\n// Error rate\nconst errors = filtered.filter(i => i.status === 'error').length;\nconst errorRate = total > 0 ? parseFloat((errors / total).toFixed(4)) : 0;\n\n// Recent activity - group by date\nconst dayCounts = {};\nfiltered.forEach(i => {\n  const d = i.created_at || i.Created;\n  if (d) {\n    try {\n      const date = new Date(d);\n      const key = date.toISOString().split('T')[0];\n      dayCounts[key] = (dayCounts[key] || 0) + 1;\n    } catch(e) {}\n  }\n});\n\nconst recentActivity = [];\nconst days = range === '7d' ? 7 : range === '30d' ? 30 : 14;\nfor (let i = days - 1; i >= 0; i--) {\n  const d = new Date(now);\n  d.setDate(d.getDate() - i);\n  const key = d.toISOString().split('T')[0];\n  const label = d.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n  recentActivity.push({ date: label, count: dayCounts[key] || 0 });\n}\n\n// Top queries\nconst queryCounts = {};\nfiltered.forEach(i => {\n  const q = (i.input_preview || '').trim();\n  if (q && q.length > 3) {\n    const normalized = q.slice(0, 80);\n    queryCounts[normalized] = (queryCounts[normalized] || 0) + 1;\n  }\n});\nconst topQueries = Object.entries(queryCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([query, count]) => ({ query, count }));\n\nreturn [{\n  json: {\n    total_interactions: total,\n    by_agent: byAgent,\n    avg_response_ms: avgResponseMs,\n    error_rate: errorRate,\n    recent_activity: recentActivity,\n    top_queries: topQueries,\n  }\n}];"
      },
      "id": "6a1f463e-9eee-4dc3-9d4c-1d283f606b5f",
      "name": "Compute Fresh Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "40a9c926-aa42-4a48-8c36-55dd7dc6fec4",
      "name": "Respond Analytics",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_DOCUMENTS_TABLE_ID",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        600
      ],
      "id": "read-documents-count",
      "name": "Read Documents",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the analytics computed earlier\nconst analytics = $('Compute Fresh Analytics').first().json;\n\n// Get documents from current input\nconst docItems = $input.all();\nconst docs = docItems.map(item => item.json.fields || item.json);\nconst totalDocs = docs.length;\nconst totalChunks = docs.reduce((sum, d) => sum + (parseInt(d.chunk_count) || parseInt(d.chunks) || 0), 0);\n\nreturn [{\n  json: {\n    ...analytics,\n    total_documents: totalDocs,\n    total_chunks: totalChunks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        500
      ],
      "id": "final-format-id",
      "name": "Final Format"
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Read Recent Interactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Recent Interactions": {
      "main": [
        [
          {
            "node": "Compute Aggregates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Aggregates": {
      "main": [
        [
          {
            "node": "Write Analytics Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /analytics/summary": {
      "main": [
        [
          {
            "node": "Read All Interactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Interactions": {
      "main": [
        [
          {
            "node": "Compute Fresh Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Fresh Analytics": {
      "main": [
        [
          {
            "node": "Read Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Documents": {
      "main": [
        [
          {
            "node": "Final Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Format": {
      "main": [
        [
          {
            "node": "Respond Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c5387e56-f758-40d3-a05c-754753f56118",
  "activeVersionId": "c5387e56-f758-40d3-a05c-754753f56118",
  "versionCounter": 44,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-04T20:09:26.630Z",
      "createdAt": "2026-05-04T20:09:26.630Z",
      "role": "workflow:owner",
      "workflowId": "Zdg3ORhvRdltW73ELzjQp",
      "projectId": "0uDVxDnrFnRhLfW9",
      "project": {
        "updatedAt": "2025-10-18T12:16:10.056Z",
        "createdAt": "2025-10-18T12:12:13.837Z",
        "id": "0uDVxDnrFnRhLfW9",
        "name": "Your Name <your-email@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "aeced203-b33c-4669-a467-84f86bfd273f",
        "projectRelations": [
          {
            "updatedAt": "2025-10-18T12:12:13.837Z",
            "createdAt": "2025-10-18T12:12:13.837Z",
            "userId": "aeced203-b33c-4669-a467-84f86bfd273f",
            "projectId": "0uDVxDnrFnRhLfW9",
            "user": {
              "updatedAt": "2026-05-21T06:09:50.000Z",
              "createdAt": "2025-10-18T12:12:13.747Z",
              "id": "aeced203-b33c-4669-a467-84f86bfd273f",
              "email": "your-email@example.com",
              "firstName": "Deyon",
              "lastName": "Wijewardana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-18T12:16:17.199Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "1zwGBZRQeAJIUT3FLfwYr",
                "userActivatedAt": 1778123141586
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-04T20:09:25.098Z",
      "createdAt": "2026-05-04T20:09:25.098Z",
      "id": "SD5fdjEU17Wqye9R",
      "name": "analytics"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-21T06:48:13.091Z",
    "createdAt": "2026-05-21T06:48:13.091Z",
    "versionId": "c5387e56-f758-40d3-a05c-754753f56118",
    "workflowId": "Zdg3ORhvRdltW73ELzjQp",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "id": "cc9648cb-9a6f-4839-bf21-3e8cd3340e7b",
        "name": "Every Hour",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_INTERACTIONS_TABLE_ID",
            "mode": "id"
          },
          "filterByFormula": "=IS_AFTER({created_at}, DATEADD(NOW(), -24, 'hours'))",
          "options": {}
        },
        "id": "0361f10d-454e-42f9-9210-d7b0d79ff7d7",
        "name": "Read Recent Interactions",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          240,
          0
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const interactions = $input.all().map(item => item.json.fields || item.json);\nconst total = interactions.length;\n\n// By agent \u2014 compute total, avg_response_ms, error_count per agent\nconst agentData = {};\ninteractions.forEach(i => {\n  const agent = i.agent || 'unknown';\n  if (!agentData[agent]) agentData[agent] = { total: 0, times: [], errors: 0 };\n  agentData[agent].total++;\n  const ms = parseInt(i.response_time_ms) || 0;\n  if (ms > 0) agentData[agent].times.push(ms);\n  if (i.status === 'error') agentData[agent].errors++;\n});\n\nconst byAgent = {};\nfor (const [agent, d] of Object.entries(agentData)) {\n  byAgent[agent] = {\n    total: d.total,\n    avg_response_ms: d.times.length > 0 ? Math.round(d.times.reduce((a, b) => a + b, 0) / d.times.length) : 0,\n    error_count: d.errors\n  };\n}\n\n// Avg response time (global)\nconst allTimes = interactions.map(i => parseInt(i.response_time_ms) || 0).filter(t => t > 0);\nconst avgResponseMs = allTimes.length > 0 ? Math.round(allTimes.reduce((a, b) => a + b, 0) / allTimes.length) : 0;\n\n// Error rate\nconst errors = interactions.filter(i => i.status === 'error').length;\nconst errorRate = total > 0 ? parseFloat((errors / total).toFixed(4)) : 0;\n\n// Peak hour\nconst hourCounts = {};\ninteractions.forEach(i => {\n  if (i.created_at) {\n    try {\n      const hour = new Date(i.created_at).getHours();\n      hourCounts[hour] = (hourCounts[hour] || 0) + 1;\n    } catch (e) {}\n  }\n});\nconst peakHour = Object.keys(hourCounts).length > 0 ? parseInt(Object.entries(hourCounts).sort((a, b) => b[1] - a[1])[0][0]) : 0;\n\n// Top document\nconst docMentions = {};\ninteractions.forEach(i => {\n  if (i.agent === 'docmentor' && i.input_preview) {\n    const key = i.input_preview.slice(0, 80);\n    docMentions[key] = (docMentions[key] || 0) + 1;\n  }\n});\nconst topDocument = Object.keys(docMentions).length > 0 ? Object.entries(docMentions).sort((a, b) => b[1] - a[1])[0][0] : '';\n\nreturn [{\n  json: {\n    period: 'hourly',\n    total_interactions: total,\n    by_agent: JSON.stringify(byAgent),\n    avg_response_ms: avgResponseMs,\n    error_rate: errorRate,\n    peak_hour: peakHour,\n    top_document: topDocument\n  }\n}];"
        },
        "id": "63234fde-1c21-4986-ad3b-fa0ce5a3f9a5",
        "name": "Compute Aggregates",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_ANALYTICS_TABLE_ID",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "period": "={{ $json.period }}",
              "total_interactions": "={{ $json.total_interactions }}",
              "by_agent": "={{ $json.by_agent }}",
              "avg_response_ms": "={{ $json.avg_response_ms }}",
              "error_rate": "={{ $json.error_rate }}",
              "peak_hour": "={{ $json.peak_hour }}",
              "top_document": "={{ $json.top_document }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "total_interactions",
                "displayName": "total_interactions",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "period",
                "displayName": "period",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "hourly",
                    "value": "hourly"
                  },
                  {
                    "name": "daily",
                    "value": "daily"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "by_agent",
                "displayName": "by_agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "avg_response_ms",
                "displayName": "avg_response_ms",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "error_rate",
                "displayName": "error_rate",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "peak_hour",
                "displayName": "peak_hour",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "top_document",
                "displayName": "top_document",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "3e44171e-5999-4d65-9313-a26e28b3f3a8",
        "name": "Write Analytics Record",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          720,
          0
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "path": "analytics/summary",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "4ee5747c-44d4-4c63-bba5-29af912aa013",
        "name": "GET /analytics/summary",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          304
        ],
        "webhookId": "analytics-summary"
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_INTERACTIONS_TABLE_ID",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "id": "read-all-interactions",
        "name": "Read All Interactions",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          240,
          304
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst interactions = items.map(item => item.json.fields || item.json);\n\n// Get time range from webhook query\nlet range = 'all';\ntry {\n  const webhookData = $('GET /analytics/summary').first().json;\n  range = webhookData.query?.range || webhookData.body?.range || 'all';\n} catch(e) {}\n\nconst now = new Date();\nlet cutoff = null;\nif (range === '7d') cutoff = new Date(now - 7 * 24 * 60 * 60 * 1000);\nelse if (range === '30d') cutoff = new Date(now - 30 * 24 * 60 * 60 * 1000);\n\nconst filtered = cutoff\n  ? interactions.filter(i => {\n      const d = new Date(i.created_at || i.Created || 0);\n      return d >= cutoff;\n    })\n  : interactions;\n\nconst total = filtered.length;\n\n// By agent\nconst agentData = {};\nfiltered.forEach(i => {\n  const agent = i.agent || 'unknown';\n  if (!agentData[agent]) agentData[agent] = { total: 0, times: [], errors: 0 };\n  agentData[agent].total++;\n  const ms = parseInt(i.response_time_ms) || 0;\n  if (ms > 0 && ms < 300000) agentData[agent].times.push(ms);\n  if (i.status === 'error') agentData[agent].errors++;\n});\n\nconst byAgent = {};\nfor (const [agent, d] of Object.entries(agentData)) {\n  byAgent[agent] = {\n    total: d.total,\n    avg_response_ms: d.times.length > 0 ? Math.round(d.times.reduce((a, b) => a + b, 0) / d.times.length) : 0,\n    error_count: d.errors\n  };\n}\n\n// Global avg response\nconst allTimes = filtered.map(i => parseInt(i.response_time_ms) || 0).filter(t => t > 0 && t < 300000);\nconst avgResponseMs = allTimes.length > 0 ? Math.round(allTimes.reduce((a, b) => a + b, 0) / allTimes.length) : 0;\n\n// Error rate\nconst errors = filtered.filter(i => i.status === 'error').length;\nconst errorRate = total > 0 ? parseFloat((errors / total).toFixed(4)) : 0;\n\n// Recent activity - group by date\nconst dayCounts = {};\nfiltered.forEach(i => {\n  const d = i.created_at || i.Created;\n  if (d) {\n    try {\n      const date = new Date(d);\n      const key = date.toISOString().split('T')[0];\n      dayCounts[key] = (dayCounts[key] || 0) + 1;\n    } catch(e) {}\n  }\n});\n\nconst recentActivity = [];\nconst days = range === '7d' ? 7 : range === '30d' ? 30 : 14;\nfor (let i = days - 1; i >= 0; i--) {\n  const d = new Date(now);\n  d.setDate(d.getDate() - i);\n  const key = d.toISOString().split('T')[0];\n  const label = d.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n  recentActivity.push({ date: label, count: dayCounts[key] || 0 });\n}\n\n// Top queries\nconst queryCounts = {};\nfiltered.forEach(i => {\n  const q = (i.input_preview || '').trim();\n  if (q && q.length > 3) {\n    const normalized = q.slice(0, 80);\n    queryCounts[normalized] = (queryCounts[normalized] || 0) + 1;\n  }\n});\nconst topQueries = Object.entries(queryCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([query, count]) => ({ query, count }));\n\nreturn [{\n  json: {\n    total_interactions: total,\n    by_agent: byAgent,\n    avg_response_ms: avgResponseMs,\n    error_rate: errorRate,\n    recent_activity: recentActivity,\n    top_queries: topQueries,\n  }\n}];"
        },
        "id": "6a1f463e-9eee-4dc3-9d4c-1d283f606b5f",
        "name": "Compute Fresh Analytics",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "40a9c926-aa42-4a48-8c36-55dd7dc6fec4",
        "name": "Respond Analytics",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          720,
          304
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_DOCUMENTS_TABLE_ID",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1040,
          600
        ],
        "id": "read-documents-count",
        "name": "Read Documents",
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Get the analytics computed earlier\nconst analytics = $('Compute Fresh Analytics').first().json;\n\n// Get documents from current input\nconst docItems = $input.all();\nconst docs = docItems.map(item => item.json.fields || item.json);\nconst totalDocs = docs.length;\nconst totalChunks = docs.reduce((sum, d) => sum + (parseInt(d.chunk_count) || parseInt(d.chunks) || 0), 0);\n\nreturn [{\n  json: {\n    ...analytics,\n    total_documents: totalDocs,\n    total_chunks: totalChunks\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1260,
          500
        ],
        "id": "final-format-id",
        "name": "Final Format"
      }
    ],
    "connections": {
      "Every Hour": {
        "main": [
          [
            {
              "node": "Read Recent Interactions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Recent Interactions": {
        "main": [
          [
            {
              "node": "Compute Aggregates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Aggregates": {
        "main": [
          [
            {
              "node": "Write Analytics Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET /analytics/summary": {
        "main": [
          [
            {
              "node": "Read All Interactions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read All Interactions": {
        "main": [
          [
            {
              "node": "Compute Fresh Analytics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Fresh Analytics": {
        "main": [
          [
            {
              "node": "Read Documents",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Documents": {
        "main": [
          [
            {
              "node": "Final Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Final Format": {
        "main": [
          [
            {
              "node": "Respond Analytics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Your Name",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-21T06:48:13.124Z",
        "id": 140,
        "workflowId": "Zdg3ORhvRdltW73ELzjQp",
        "versionId": "c5387e56-f758-40d3-a05c-754753f56118",
        "event": "activated",
        "userId": "aeced203-b33c-4669-a467-84f86bfd273f"
      }
    ]
  }
}