n8n-workflows/Nexus_Digest Agent.json
{
  "updatedAt": "2026-05-21T06:12:59.224Z",
  "createdAt": "2026-05-04T20:01:57.869Z",
  "id": "PLLjjQOadlUt2rAE42BiX",
  "name": "Nexus_Digest Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digest/configure",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55f89fce-9857-45d5-beb5-76a4cc367ca2",
      "name": "POST /digest/configure",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "digest-configure"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst topics = body.topics || [];\nconst frequency = body.frequency || 'daily';\nconst email = body.email || '';\n\nconst errors = [];\nif (!Array.isArray(topics) || topics.length === 0) {\n  errors.push('At least one topic is required');\n}\nif (!email || !email.includes('@')) {\n  errors.push('A valid email address is required');\n}\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, error: errors.join('; ') } }];\n}\n\nconst digestId = Array.from({length: 32}, () => Math.random().toString(36)[2]).join('');\n\nreturn [{ json: {\n  valid: true,\n  digest_id: digestId,\n  topics: JSON.stringify(topics.map(String)),\n  frequency: ['daily', 'weekly'].includes(frequency) ? frequency : 'daily',\n  email: email.trim(),\n  status: 'active',\n  source: 'frontend'\n}}];"
      },
      "id": "3a8cc76b-b8b4-4885-97d4-16a35545f655",
      "name": "Validate Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_DIGESTS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "topics": "={{ $json.topics }}",
            "frequency": "={{ $json.frequency }}",
            "email": "={{ $json.email }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "topics",
              "displayName": "topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "frequency",
              "displayName": "frequency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "daily",
                  "value": "daily"
                },
                {
                  "name": "weekly",
                  "value": "weekly"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "active",
                  "value": "active"
                },
                {
                  "name": "paused",
                  "value": "paused"
                },
                {
                  "name": "error",
                  "value": "error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "item_count",
              "displayName": "item_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_digest_content",
              "displayName": "last_digest_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d2a7329f-e656-42db-9c23-b1efddee4327",
      "name": "Save Digest Config",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        648,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ digest_id: $('Validate Config').first().json.digest_id, status: 'active' }) }}",
        "options": {}
      },
      "id": "54d376bb-0251-4010-8bea-7534ea50c877",
      "name": "Respond Config Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        872,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cf257ab4-647f-4056-b2b1-31a061c196de",
      "name": "Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_DIGESTS_TABLE_ID",
          "mode": "id"
        },
        "filterByFormula": "={status} = 'active'",
        "options": {}
      },
      "id": "2548bb12-3810-45b4-b178-3ececdcbc189",
      "name": "Read Active Digests",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c4ab3761-89d7-48e8-92bc-9b0dd24d006b",
      "name": "Loop Digests",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const record = $json.fields || $json;\nlet topics = [];\ntry {\n  topics = typeof record.topics === 'string' ? JSON.parse(record.topics) : (record.topics || []);\n} catch (e) {\n  topics = [record.topics].filter(Boolean);\n}\n\n// Build a search query from topics\nconst query = topics.join(' OR ');\nconst digestId = record.id || record.record_id || '';\nconst email = record.email || '';\n\nreturn [{\n  json: {\n    digest_record_id: digestId,\n    topics: topics,\n    email: email,\n    search_query: query\n  }\n}];"
      },
      "id": "d8dbcd47-1e65-4654-b72b-7cb798f1610f",
      "name": "Prepare Digest Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.search_query) }}&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fb95e5c3-c6f1-4557-9fa9-bda595e6c465",
      "name": "Fetch News/RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rssText = $json.data || $json.body || $json || '';\nconst topics = $('Prepare Digest Query').first().json.topics;\n\nconst items = [];\nconst itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\nconst rawStr = typeof rssText === 'string' ? rssText : JSON.stringify(rssText);\nconst matches = rawStr.match(itemRegex) || [];\n\nfor (const match of matches.slice(0, 20)) {\n  const titleMatch = match.match(/<title><!\\[CDATA\\[(.*?)\\]\\]>|<title>(.*?)<\\/title>/);\n  const linkMatch = match.match(/<link>(.*?)<\\/link>/);\n  const descMatch = match.match(/<description><!\\[CDATA\\[(.*?)\\]\\]>|<description>(.*?)<\\/description>/s);\n  const pubDateMatch = match.match(/<pubDate>(.*?)<\\/pubDate>/);\n  const sourceMatch = match.match(/<source[^>]*>(.*?)<\\/source>/);\n\n  const title = (titleMatch?.[1] || titleMatch?.[2] || 'Untitled').trim();\n  const link = (linkMatch?.[1] || '').trim();\n  const source = (sourceMatch?.[1] || '').trim();\n\n  // Clean description: decode entities FIRST, then strip HTML tags\n  let description = (descMatch?.[1] || descMatch?.[2] || '').trim();\n  description = description.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\");\n  description = description.replace(/<[^>]*>/g, '').trim();\n  // If description is mostly a URL, same as title, or empty \u2014 use source\n  if (!description || description.match(/^https?:\\/\\//) || description.toLowerCase() === title.toLowerCase()) {\n    description = source ? `Source: ${source}` : '';\n  }\n\n  const pubDate = (pubDateMatch?.[1] || '').trim();\n  items.push({ title, link, description: description.slice(0, 200), pubDate, source });\n}\n\nconst seen = new Set();\nconst unique = items.filter(a => {\n  const key = a.title.toLowerCase();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n}).slice(0, 10);\n\nconst summaryInput = unique.map((a, i) =>\n  `${i + 1}. ${a.title}${a.source ? ' (' + a.source + ')' : ''}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    articles: unique,\n    summary_input: summaryInput || 'No articles found for topics: ' + topics.join(', '),\n    item_count: unique.length,\n    topics: topics\n  }\n}];"
      },
      "id": "f7029312-5f86-4a2d-bd00-ddc927cec339",
      "name": "Aggregate Top Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3', stream: false, messages: [ { role: 'system', content: 'You are a digest writer. Summarize the following news items into a concise, well-organized digest. Group related items by theme. Use HTML formatting: <h3> for theme headings, <p> for paragraphs, <ul><li> for bullet points. Do NOT use markdown. Keep it scannable and informative but brief. Output only the HTML content, no wrapper tags.' }, { role: 'user', content: 'Create a digest for topics: ' + $json.topics.join(', ') + '\\n\\nArticles:\\n' + $json.summary_input } ] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "58822ccd-ffde-4382-8c4d-b07d4881d734",
      "name": "Summarize via Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = $json;\nlet summary = ollamaResponse.message?.content || ollamaResponse.response || 'No summary generated.';\nconst articles = $('Aggregate Top Items').first().json.articles || [];\nconst topics = $('Aggregate Top Items').first().json.topics || [];\nconst itemCount = $('Aggregate Top Items').first().json.item_count || 0;\nconst digestRecordId = $('Prepare Digest Query').first().json.digest_record_id;\nconst email = $('Prepare Digest Query').first().json.email;\n\n// Markdown\u2192HTML fallback\nif (summary.includes('**') || summary.match(/^\\* /m) || summary.match(/^#{1,3} /m)) {\n  summary = summary\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.+)$/gm, '<h3>$1</h3>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/^\\* (.+)$/gm, '<li>$1</li>')\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    .replace(/(<li>.*<\\/li>\\n?)+/g, (m) => '<ul>' + m + '</ul>')\n    .replace(/\\n{2,}/g, '</p><p>')\n    .replace(/\\n/g, '<br>');\n  summary = '<p>' + summary + '</p>';\n  summary = summary.replace(/<p>\\s*<h3>/g, '<h3>').replace(/<\\/h3>\\s*<\\/p>/g, '</h3>');\n  summary = summary.replace(/<p>\\s*<ul>/g, '<ul>').replace(/<\\/ul>\\s*<\\/p>/g, '</ul>');\n  summary = summary.replace(/<p>\\s*<\\/p>/g, '');\n} else if (!summary.includes('<')) {\n  summary = summary.split(/\\n{2,}/).map(p => '<p>' + p.replace(/\\n/g, '<br>') + '</p>').join('');\n}\n\nconst articleLinks = articles.map(a => {\n  // Don't show source if it's already in the title (e.g. \"Title - Source\")\n  let desc = '';\n  if (a.source && !a.title.includes(a.source)) {\n    desc = a.source;\n  }\n  const descHtml = desc ? `<br><small style=\"color:#888;\">${desc}</small>` : '';\n  return `<li style=\"margin-bottom:8px;\"><a href=\"${a.link}\" style=\"color:#6366f1;text-decoration:none;\">${a.title}</a>${descHtml}</li>`;\n}).join('');\n\nconst html = `\n<div style=\"max-width:600px;margin:0 auto;font-family:sans-serif;color:#333;\">\n  <h1 style=\"color:#1a1a2e;border-bottom:2px solid #6366f1;padding-bottom:8px;\">Nexus Daily Digest</h1>\n  <p style=\"color:#666;font-size:14px;\">Topics: ${topics.join(', ')} | ${itemCount} items</p>\n  <div style=\"background:#f8f9fa;padding:16px;border-radius:8px;margin:16px 0;line-height:1.6;\">\n    ${summary}\n  </div>\n  <h2 style=\"color:#1a1a2e;font-size:16px;\">Sources</h2>\n  <ul style=\"padding-left:20px;\">${articleLinks}</ul>\n  <hr style=\"border:none;border-top:1px solid #eee;margin-top:24px;\">\n  <p style=\"color:#aaa;font-size:12px;\">Generated by Nexus Digest Agent</p>\n</div>`;\n\nreturn [{\n  json: {\n    digest_record_id: digestRecordId,\n    email: email,\n    html_content: html,\n    summary: summary,\n    item_count: itemCount,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "507edaf4-1a94-42c1-95a6-5b4ab826cbdf",
      "name": "Format HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_DIGESTS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_sent_at": "={{ $json.sent_at }}",
            "item_count": "={{ $json.item_count }}",
            "last_digest_content": "={{ $json.html_content }}",
            "id": "={{ $json.digest_record_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "topics",
              "displayName": "topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "frequency",
              "displayName": "frequency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "daily",
                  "value": "daily"
                },
                {
                  "name": "weekly",
                  "value": "weekly"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "active",
                  "value": "active"
                },
                {
                  "name": "paused",
                  "value": "paused"
                },
                {
                  "name": "error",
                  "value": "error"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "item_count",
              "displayName": "item_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_digest_content",
              "displayName": "last_digest_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4d22bee7-e341-4132-bb79-a5ac1c4c7eaf",
      "name": "Update Digest Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1824,
        304
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_INTERACTIONS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "agent": "digest",
            "input_preview": "={{ ('Digest for: ' + ($('Prepare Digest Query').first().json.topics || []).join(', ')).slice(0, 200) }}",
            "output_preview": "={{ ($json.summary || '').slice(0, 200) }}",
            "status": "success",
            "source": "digest-agent",
            "response_time_ms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "docmentor",
                  "value": "docmentor"
                },
                {
                  "name": "review",
                  "value": "review"
                },
                {
                  "name": "digest",
                  "value": "digest"
                },
                {
                  "name": "file",
                  "value": "file"
                },
                {
                  "name": "system",
                  "value": "system"
                },
                {
                  "name": "general",
                  "value": "general"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_preview",
              "displayName": "input_preview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_preview",
              "displayName": "output_preview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "response_time_ms",
              "displayName": "response_time_ms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "success",
                  "value": "success"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "timeout",
                  "value": "timeout"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2d7fff93-f213-4d55-b2a9-315dbf897d34",
      "name": "Log Digest Interaction",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2048,
        304
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "digest/latest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f9079a69-b907-455b-991e-49b08ad71aa9",
      "name": "GET /digest/latest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        608
      ],
      "webhookId": "digest-latest"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_DIGESTS_TABLE_ID",
          "mode": "id"
        },
        "filterByFormula": "=NOT({last_sent_at} = '')",
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "last_sent_at",
              "direction": "desc"
            }
          ]
        }
      },
      "id": "1e7358f1-e1ee-4bab-bcb9-768eb6d6f9c1",
      "name": "Read Latest Digest",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        608
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0 || !items[0].json || Object.keys(items[0].json).length === 0) {\n  return [{ json: { digest_id: null, content: null, sent_at: null, item_count: 0, message: \"No digests have been generated yet. Configure a digest first.\" } }];\n}\n\nconst record = items[0].json.fields || items[0].json;\n\nif (!record.last_digest_content) {\n  return [{ json: { digest_id: record.id || null, content: null, sent_at: null, item_count: 0, message: \"Digest is configured but hasn't been generated yet.\" } }];\n}\n\nreturn [{\n  json: {\n    digest_id: record.id || record.record_id || null,\n    content: record.last_digest_content || null,\n    sent_at: record.last_sent_at || null,\n    item_count: record.item_count || 0\n  }\n}];"
      },
      "id": "bfafc7cd-e0d3-47e6-a675-8c06e2e42cda",
      "name": "Format Latest Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        608
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "97e4bd60-a720-48f7-852d-4cc4f77b72e3",
      "name": "Respond Latest Digest",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        424,
        0
      ],
      "id": "check-valid-node-id",
      "name": "Check Valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error, status: 'invalid' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        150
      ],
      "id": "respond-error-node-id",
      "name": "Respond Validation Error"
    },
    {
      "parameters": {
        "jsCode": "const saved = $('Save Digest Config').first().json;\nconst validated = $('Validate Config').first().json;\n\nlet topics = [];\ntry {\n  topics = typeof validated.topics === 'string' ? JSON.parse(validated.topics) : (validated.topics || []);\n} catch { topics = []; }\n\nreturn [{\n  json: {\n    digest_record_id: saved.id || saved.record_id || '',\n    topics: topics,\n    email: validated.email || '',\n    search_query: topics.join(' OR ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1112,
        160
      ],
      "id": "on-demand-prepare-id",
      "name": "Prepare On-Demand Query"
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.search_query) }}&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1352,
        160
      ],
      "id": "on-demand-fetch-id",
      "name": "Fetch On-Demand RSS"
    },
    {
      "parameters": {
        "jsCode": "const rssText = $json.data || $json.body || $json || '';\nconst meta = $('Prepare On-Demand Query').first().json;\nconst topics = meta.topics;\n\nconst items = [];\nconst itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\nconst rawStr = typeof rssText === 'string' ? rssText : JSON.stringify(rssText);\nconst matches = rawStr.match(itemRegex) || [];\n\nfor (const match of matches.slice(0, 20)) {\n  const titleMatch = match.match(/<title><!\\[CDATA\\[(.*?)\\]\\]>|<title>(.*?)<\\/title>/);\n  const linkMatch = match.match(/<link>(.*?)<\\/link>/);\n  const sourceMatch = match.match(/<source[^>]*>(.*?)<\\/source>/);\n  const title = (titleMatch?.[1] || titleMatch?.[2] || 'Untitled').trim();\n  const link = (linkMatch?.[1] || '').trim();\n  const source = (sourceMatch?.[1] || '').trim();\n  items.push({ title, link, source });\n}\n\nconst seen = new Set();\nconst unique = items.filter(a => {\n  const key = a.title.toLowerCase();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n}).slice(0, 10);\n\nconst summaryInput = unique.map((a, i) =>\n  `${i + 1}. ${a.title}${a.source ? ' (' + a.source + ')' : ''}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    articles: unique,\n    summary_input: summaryInput || 'No articles found for topics: ' + topics.join(', '),\n    item_count: unique.length,\n    topics: topics,\n    digest_record_id: meta.digest_record_id,\n    email: meta.email\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1592,
        160
      ],
      "id": "on-demand-aggregate-id",
      "name": "Build On-Demand Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3', stream: false, messages: [ { role: 'system', content: 'You are a digest writer. Summarize the following news items into a concise, well-organized digest. Group related items by theme. Use HTML formatting: <h3> for theme headings, <p> for paragraphs, <ul><li> for bullet points. Do NOT use markdown. Keep it scannable and informative but brief. Output only the HTML content, no wrapper tags.' }, { role: 'user', content: 'Create a digest for topics: ' + $json.topics.join(', ') + '\\n\\nArticles:\\n' + $json.summary_input } ] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1832,
        160
      ],
      "id": "on-demand-ollama-id",
      "name": "Summarize On-Demand"
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = $json;\nlet summary = ollamaResponse.message?.content || ollamaResponse.response || 'No summary generated.';\nconst meta = $('Build On-Demand Input').first().json;\nconst articles = meta.articles || [];\nconst topics = meta.topics || [];\nconst itemCount = meta.item_count || 0;\n\n// Markdown fallback\nif (summary.includes('**') || summary.match(/^\\* /m) || summary.match(/^#{1,3} /m)) {\n  summary = summary\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.+)$/gm, '<h3>$1</h3>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/^\\* (.+)$/gm, '<li>$1</li>')\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    .replace(/(<li>.*<\\/li>\\n?)+/g, (m) => '<ul>' + m + '</ul>')\n    .replace(/\\n{2,}/g, '</p><p>')\n    .replace(/\\n/g, '<br>');\n  summary = '<p>' + summary + '</p>';\n  summary = summary.replace(/<p>\\s*<h3>/g, '<h3>').replace(/<\\/h3>\\s*<\\/p>/g, '</h3>');\n  summary = summary.replace(/<p>\\s*<ul>/g, '<ul>').replace(/<\\/ul>\\s*<\\/p>/g, '</ul>');\n  summary = summary.replace(/<p>\\s*<\\/p>/g, '');\n} else if (!summary.includes('<')) {\n  summary = summary.split(/\\n{2,}/).map(p => '<p>' + p.replace(/\\n/g, '<br>') + '</p>').join('');\n}\n\nconst articleLinks = articles.map(a => {\n  let desc = '';\n  if (a.source && !a.title.includes(a.source)) desc = a.source;\n  const descHtml = desc ? `<br><small style=\"color:#888;\">${desc}</small>` : '';\n  return `<li style=\"margin-bottom:8px;\"><a href=\"${a.link}\" style=\"color:#6366f1;text-decoration:none;\">${a.title}</a>${descHtml}</li>`;\n}).join('');\n\nconst html = `\n<div style=\"max-width:600px;margin:0 auto;font-family:sans-serif;color:#333;\">\n  <h1 style=\"color:#1a1a2e;border-bottom:2px solid #6366f1;padding-bottom:8px;\">Nexus Daily Digest</h1>\n  <p style=\"color:#666;font-size:14px;\">Topics: ${topics.join(', ')} | ${itemCount} items</p>\n  <div style=\"background:#f8f9fa;padding:16px;border-radius:8px;margin:16px 0;line-height:1.6;\">\n    ${summary}\n  </div>\n  <h2 style=\"color:#1a1a2e;font-size:16px;\">Sources</h2>\n  <ul style=\"padding-left:20px;\">${articleLinks}</ul>\n  <hr style=\"border:none;border-top:1px solid #eee;margin-top:24px;\">\n  <p style=\"color:#aaa;font-size:12px;\">Generated by Nexus Digest Agent</p>\n</div>`;\n\nreturn [{\n  json: {\n    digest_record_id: meta.digest_record_id,\n    html_content: html,\n    summary: summary,\n    item_count: itemCount,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2072,
        160
      ],
      "id": "on-demand-format-id",
      "name": "Format On-Demand Result"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_DIGESTS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_sent_at": "={{ $json.sent_at }}",
            "item_count": "={{ $json.item_count }}",
            "last_digest_content": "={{ $json.html_content }}",
            "id": "={{ $json.digest_record_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "item_count",
              "displayName": "item_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_digest_content",
              "displayName": "last_digest_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2312,
        160
      ],
      "id": "on-demand-save-id",
      "name": "Save On-Demand Digest",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "Nexus Digest <your-smtp-user@ethereal.email>",
        "toEmail": "={{ $('Prepare On-Demand Query').first().json.email }}",
        "subject": "=Your Nexus Digest \u2014 {{ $('Build On-Demand Input').first().json.topics.join(', ') }}",
        "emailType": "html",
        "html": "={{ $json.html_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2072,
        360
      ],
      "id": "email-send-ondemand-id",
      "name": "Send Digest Email",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Ethereal SMTP (Demo)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Nexus Digest <your-smtp-user@ethereal.email>",
        "toEmail": "={{ $('Prepare Digest Query').first().json.email }}",
        "subject": "=Your Nexus Digest \u2014 {{ $('Aggregate Top Items').first().json.topics.join(', ') }}",
        "emailType": "html",
        "html": "={{ $json.html_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1600,
        504
      ],
      "id": "email-send-cron-id",
      "name": "Send Scheduled Email",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Ethereal SMTP (Demo)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digest/query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        800
      ],
      "id": "digest-query-webhook",
      "name": "POST /digest/query",
      "webhookId": "digest-query"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst message = (body.message || '').trim();\n\n// Extract search topic from natural language message\n// Remove common question patterns to get the core topic\nlet topic = message\n  .replace(/^(what('s| is| are)|tell me|show me|give me|find|look up|search|get|fetch)/i, '')\n  .replace(/^(the )?(latest|recent|current|new|breaking|today'?s?|this week'?s?)/i, '')\n  .replace(/^(news|updates|articles|stories|headlines|info|information)\\b/i, '')\n  .replace(/^(about|on|for|regarding|related to|in)/i, '')\n  .replace(/[?.!]+$/g, '')\n  .trim();\n\n// If extraction left nothing, use the full message as the topic\nif (!topic || topic.length < 2) {\n  topic = message.replace(/[?.!]+$/g, '').trim();\n}\n\nreturn [{\n  json: {\n    topic: topic,\n    original_message: message,\n    session_id: body.session_id || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        800
      ],
      "id": "extract-query-topic",
      "name": "Extract Query Topic"
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.topic) }}&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        800
      ],
      "id": "fetch-query-rss",
      "name": "Fetch Query RSS",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rssText = $json.data || $json.body || '';\nconst topic = $('Extract Query Topic').first().json.topic;\nconst items = [];\n\nconst itemMatches = rssText.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n\nfor (const itemXml of itemMatches.slice(0, 8)) {\n  const titleMatch = itemXml.match(/<title>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/);\n  const linkMatch = itemXml.match(/<link>(.*?)<\\/link>/);\n  const pubDateMatch = itemXml.match(/<pubDate>(.*?)<\\/pubDate>/);\n  const sourceMatch = itemXml.match(/<source[^>]*>(.*?)<\\/source>/);\n  const descMatch = itemXml.match(/<description>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/description>/s);\n\n  const title = (titleMatch?.[1] || '').trim();\n  const link = (linkMatch?.[1] || '').trim();\n  const source = (sourceMatch?.[1] || '').trim();\n\n  let description = (descMatch?.[1] || '').trim();\n  description = description.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\");\n  description = description.replace(/<[^>]*>/g, '').trim();\n  if (!description || description.match(/^https?:\\/\\//) || description.toLowerCase() === title.toLowerCase()) {\n    description = source ? 'Source: ' + source : '';\n  }\n\n  if (title) {\n    items.push({ title, link, source, description, pubDate: pubDateMatch?.[1] || '' });\n  }\n}\n\nconst articleSummaries = items.map((a, i) =>\n  (i + 1) + '. ' + a.title + (a.source ? ' (' + a.source + ')' : '') + (a.description && a.description !== 'Source: ' + a.source ? ' \u2014 ' + a.description : '')\n).join('\\n');\n\nreturn [{\n  json: {\n    topic: topic,\n    articles: items,\n    item_count: items.length,\n    articles_text: articleSummaries\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        800
      ],
      "id": "parse-query-articles",
      "name": "Parse Query Articles"
    },
    {
      "parameters": {
        "url": "={{ $env.OLLAMA_URL }}/api/chat",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'llama3',\n  stream: false,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a news analyst. Summarize the following news articles about \"' + $json.topic + '\" into a clear, conversational briefing. Lead with the most important developments. Use 3-5 concise paragraphs. Write in plain text, no markdown or HTML formatting. Focus on facts and key takeaways.'\n    },\n    {\n      role: 'user',\n      content: 'Here are ' + $json.item_count + ' recent articles about ' + $json.topic + ':\\n\\n' + $json.articles_text + '\\n\\nProvide a concise news briefing based on these articles.'\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        800
      ],
      "id": "summarize-query",
      "name": "Summarize Query"
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = $json;\nconst summary = ollamaResponse.message?.content || ollamaResponse.response || 'No summary available.';\nconst articles = $('Parse Query Articles').first().json.articles || [];\nconst topic = $('Parse Query Articles').first().json.topic;\nconst itemCount = $('Parse Query Articles').first().json.item_count || 0;\n\n// Build article links as plain text for chat\nconst sourceList = articles.slice(0, 5).map(a =>\n  '\u2022 ' + a.title + (a.source ? ' (' + a.source + ')' : '')\n).join('\\n');\n\nconst response = summary + '\\n\\n\ud83d\udcf0 Sources (' + itemCount + ' articles):\\n' + sourceList;\n\nreturn [{\n  json: {\n    response: response,\n    topic: topic,\n    item_count: itemCount,\n    agent: 'digest'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        800
      ],
      "id": "format-chat-response",
      "name": "Format Chat Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        800
      ],
      "id": "respond-query",
      "name": "Respond Query"
    }
  ],
  "connections": {
    "POST /digest/configure": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Config": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Digest Config": {
      "main": [
        [
          {
            "node": "Respond Config Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8AM": {
      "main": [
        [
          {
            "node": "Read Active Digests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Digests": {
      "main": [
        [
          {
            "node": "Loop Digests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Digests": {
      "main": [
        [],
        [
          {
            "node": "Prepare Digest Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest Query": {
      "main": [
        [
          {
            "node": "Fetch News/RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News/RSS": {
      "main": [
        [
          {
            "node": "Aggregate Top Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Top Items": {
      "main": [
        [
          {
            "node": "Summarize via Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama": {
      "main": [
        [
          {
            "node": "Format HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Email": {
      "main": [
        [
          {
            "node": "Update Digest Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Digest Record": {
      "main": [
        [
          {
            "node": "Log Digest Interaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Scheduled Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Digest Interaction": {
      "main": [
        [
          {
            "node": "Loop Digests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /digest/latest": {
      "main": [
        [
          {
            "node": "Read Latest Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Latest Digest": {
      "main": [
        [
          {
            "node": "Format Latest Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Latest Response": {
      "main": [
        [
          {
            "node": "Respond Latest Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Save Digest Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Config Saved": {
      "main": [
        [
          {
            "node": "Prepare On-Demand Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare On-Demand Query": {
      "main": [
        [
          {
            "node": "Fetch On-Demand RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch On-Demand RSS": {
      "main": [
        [
          {
            "node": "Build On-Demand Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build On-Demand Input": {
      "main": [
        [
          {
            "node": "Summarize On-Demand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize On-Demand": {
      "main": [
        [
          {
            "node": "Format On-Demand Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format On-Demand Result": {
      "main": [
        [
          {
            "node": "Save On-Demand Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save On-Demand Digest": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /digest/query": {
      "main": [
        [
          {
            "node": "Extract Query Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Query Topic": {
      "main": [
        [
          {
            "node": "Fetch Query RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Query RSS": {
      "main": [
        [
          {
            "node": "Parse Query Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query Articles": {
      "main": [
        [
          {
            "node": "Summarize Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Query": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Response": {
      "main": [
        [
          {
            "node": "Respond Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "029266ba-7441-4fdd-b3c4-5b647a617517",
  "activeVersionId": "029266ba-7441-4fdd-b3c4-5b647a617517",
  "versionCounter": 108,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2026-05-04T20:01:57.874Z",
      "createdAt": "2026-05-04T20:01:57.874Z",
      "role": "workflow:owner",
      "workflowId": "PLLjjQOadlUt2rAE42BiX",
      "projectId": "0uDVxDnrFnRhLfW9",
      "project": {
        "updatedAt": "2025-10-18T12:16:10.056Z",
        "createdAt": "2025-10-18T12:12:13.837Z",
        "id": "0uDVxDnrFnRhLfW9",
        "name": "Your Name <your-email@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "aeced203-b33c-4669-a467-84f86bfd273f",
        "projectRelations": [
          {
            "updatedAt": "2025-10-18T12:12:13.837Z",
            "createdAt": "2025-10-18T12:12:13.837Z",
            "userId": "aeced203-b33c-4669-a467-84f86bfd273f",
            "projectId": "0uDVxDnrFnRhLfW9",
            "user": {
              "updatedAt": "2026-05-21T06:09:50.000Z",
              "createdAt": "2025-10-18T12:12:13.747Z",
              "id": "aeced203-b33c-4669-a467-84f86bfd273f",
              "email": "your-email@example.com",
              "firstName": "Deyon",
              "lastName": "Wijewardana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-18T12:16:17.199Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "1zwGBZRQeAJIUT3FLfwYr",
                "userActivatedAt": 1778123141586
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-04T20:01:56.311Z",
      "createdAt": "2026-05-04T20:01:56.311Z",
      "id": "4HAFfp4PoEJwnNIJ",
      "name": "digest"
    },
    {
      "updatedAt": "2026-05-04T20:01:56.313Z",
      "createdAt": "2026-05-04T20:01:56.313Z",
      "id": "ZO5WyKEOD9QL8RZU",
      "name": "scheduled"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-21T06:12:59.226Z",
    "createdAt": "2026-05-21T06:12:59.226Z",
    "versionId": "029266ba-7441-4fdd-b3c4-5b647a617517",
    "workflowId": "PLLjjQOadlUt2rAE42BiX",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "digest/configure",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "55f89fce-9857-45d5-beb5-76a4cc367ca2",
        "name": "POST /digest/configure",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "digest-configure"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst topics = body.topics || [];\nconst frequency = body.frequency || 'daily';\nconst email = body.email || '';\n\nconst errors = [];\nif (!Array.isArray(topics) || topics.length === 0) {\n  errors.push('At least one topic is required');\n}\nif (!email || !email.includes('@')) {\n  errors.push('A valid email address is required');\n}\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, error: errors.join('; ') } }];\n}\n\nconst digestId = Array.from({length: 32}, () => Math.random().toString(36)[2]).join('');\n\nreturn [{ json: {\n  valid: true,\n  digest_id: digestId,\n  topics: JSON.stringify(topics.map(String)),\n  frequency: ['daily', 'weekly'].includes(frequency) ? frequency : 'daily',\n  email: email.trim(),\n  status: 'active',\n  source: 'frontend'\n}}];"
        },
        "id": "3a8cc76b-b8b4-4885-97d4-16a35545f655",
        "name": "Validate Config",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_DIGESTS_TABLE_ID",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "={{ $json.status }}",
              "topics": "={{ $json.topics }}",
              "frequency": "={{ $json.frequency }}",
              "email": "={{ $json.email }}",
              "source": "={{ $json.source }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "topics",
                "displayName": "topics",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "frequency",
                "displayName": "frequency",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "daily",
                    "value": "daily"
                  },
                  {
                    "name": "weekly",
                    "value": "weekly"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "active",
                    "value": "active"
                  },
                  {
                    "name": "paused",
                    "value": "paused"
                  },
                  {
                    "name": "error",
                    "value": "error"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "last_sent_at",
                "displayName": "last_sent_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "item_count",
                "displayName": "item_count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "last_digest_content",
                "displayName": "last_digest_content",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "error_message",
                "displayName": "error_message",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "d2a7329f-e656-42db-9c23-b1efddee4327",
        "name": "Save Digest Config",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          648,
          0
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ digest_id: $('Validate Config').first().json.digest_id, status: 'active' }) }}",
          "options": {}
        },
        "id": "54d376bb-0251-4010-8bea-7534ea50c877",
        "name": "Respond Config Saved",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          872,
          0
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        },
        "id": "cf257ab4-647f-4056-b2b1-31a061c196de",
        "name": "Daily 8AM",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_DIGESTS_TABLE_ID",
            "mode": "id"
          },
          "filterByFormula": "={status} = 'active'",
          "options": {}
        },
        "id": "2548bb12-3810-45b4-b178-3ececdcbc189",
        "name": "Read Active Digests",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          240,
          304
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "c4ab3761-89d7-48e8-92bc-9b0dd24d006b",
        "name": "Loop Digests",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const record = $json.fields || $json;\nlet topics = [];\ntry {\n  topics = typeof record.topics === 'string' ? JSON.parse(record.topics) : (record.topics || []);\n} catch (e) {\n  topics = [record.topics].filter(Boolean);\n}\n\n// Build a search query from topics\nconst query = topics.join(' OR ');\nconst digestId = record.id || record.record_id || '';\nconst email = record.email || '';\n\nreturn [{\n  json: {\n    digest_record_id: digestId,\n    topics: topics,\n    email: email,\n    search_query: query\n  }\n}];"
        },
        "id": "d8dbcd47-1e65-4654-b72b-7cb798f1610f",
        "name": "Prepare Digest Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.search_query) }}&hl=en-US&gl=US&ceid=US:en",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            },
            "timeout": 30000
          }
        },
        "id": "fb95e5c3-c6f1-4557-9fa9-bda595e6c465",
        "name": "Fetch News/RSS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          944,
          304
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const rssText = $json.data || $json.body || $json || '';\nconst topics = $('Prepare Digest Query').first().json.topics;\n\nconst items = [];\nconst itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\nconst rawStr = typeof rssText === 'string' ? rssText : JSON.stringify(rssText);\nconst matches = rawStr.match(itemRegex) || [];\n\nfor (const match of matches.slice(0, 20)) {\n  const titleMatch = match.match(/<title><!\\[CDATA\\[(.*?)\\]\\]>|<title>(.*?)<\\/title>/);\n  const linkMatch = match.match(/<link>(.*?)<\\/link>/);\n  const descMatch = match.match(/<description><!\\[CDATA\\[(.*?)\\]\\]>|<description>(.*?)<\\/description>/s);\n  const pubDateMatch = match.match(/<pubDate>(.*?)<\\/pubDate>/);\n  const sourceMatch = match.match(/<source[^>]*>(.*?)<\\/source>/);\n\n  const title = (titleMatch?.[1] || titleMatch?.[2] || 'Untitled').trim();\n  const link = (linkMatch?.[1] || '').trim();\n  const source = (sourceMatch?.[1] || '').trim();\n\n  // Clean description: decode entities FIRST, then strip HTML tags\n  let description = (descMatch?.[1] || descMatch?.[2] || '').trim();\n  description = description.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\");\n  description = description.replace(/<[^>]*>/g, '').trim();\n  // If description is mostly a URL, same as title, or empty \u2014 use source\n  if (!description || description.match(/^https?:\\/\\//) || description.toLowerCase() === title.toLowerCase()) {\n    description = source ? `Source: ${source}` : '';\n  }\n\n  const pubDate = (pubDateMatch?.[1] || '').trim();\n  items.push({ title, link, description: description.slice(0, 200), pubDate, source });\n}\n\nconst seen = new Set();\nconst unique = items.filter(a => {\n  const key = a.title.toLowerCase();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n}).slice(0, 10);\n\nconst summaryInput = unique.map((a, i) =>\n  `${i + 1}. ${a.title}${a.source ? ' (' + a.source + ')' : ''}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    articles: unique,\n    summary_input: summaryInput || 'No articles found for topics: ' + topics.join(', '),\n    item_count: unique.length,\n    topics: topics\n  }\n}];"
        },
        "id": "f7029312-5f86-4a2d-bd00-ddc927cec339",
        "name": "Aggregate Top Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.OLLAMA_URL }}/api/chat",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'llama3', stream: false, messages: [ { role: 'system', content: 'You are a digest writer. Summarize the following news items into a concise, well-organized digest. Group related items by theme. Use HTML formatting: <h3> for theme headings, <p> for paragraphs, <ul><li> for bullet points. Do NOT use markdown. Keep it scannable and informative but brief. Output only the HTML content, no wrapper tags.' }, { role: 'user', content: 'Create a digest for topics: ' + $json.topics.join(', ') + '\\n\\nArticles:\\n' + $json.summary_input } ] }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "58822ccd-ffde-4382-8c4d-b07d4881d734",
        "name": "Summarize via Ollama",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          304
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const ollamaResponse = $json;\nlet summary = ollamaResponse.message?.content || ollamaResponse.response || 'No summary generated.';\nconst articles = $('Aggregate Top Items').first().json.articles || [];\nconst topics = $('Aggregate Top Items').first().json.topics || [];\nconst itemCount = $('Aggregate Top Items').first().json.item_count || 0;\nconst digestRecordId = $('Prepare Digest Query').first().json.digest_record_id;\nconst email = $('Prepare Digest Query').first().json.email;\n\n// Markdown\u2192HTML fallback\nif (summary.includes('**') || summary.match(/^\\* /m) || summary.match(/^#{1,3} /m)) {\n  summary = summary\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.+)$/gm, '<h3>$1</h3>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/^\\* (.+)$/gm, '<li>$1</li>')\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    .replace(/(<li>.*<\\/li>\\n?)+/g, (m) => '<ul>' + m + '</ul>')\n    .replace(/\\n{2,}/g, '</p><p>')\n    .replace(/\\n/g, '<br>');\n  summary = '<p>' + summary + '</p>';\n  summary = summary.replace(/<p>\\s*<h3>/g, '<h3>').replace(/<\\/h3>\\s*<\\/p>/g, '</h3>');\n  summary = summary.replace(/<p>\\s*<ul>/g, '<ul>').replace(/<\\/ul>\\s*<\\/p>/g, '</ul>');\n  summary = summary.replace(/<p>\\s*<\\/p>/g, '');\n} else if (!summary.includes('<')) {\n  summary = summary.split(/\\n{2,}/).map(p => '<p>' + p.replace(/\\n/g, '<br>') + '</p>').join('');\n}\n\nconst articleLinks = articles.map(a => {\n  // Don't show source if it's already in the title (e.g. \"Title - Source\")\n  let desc = '';\n  if (a.source && !a.title.includes(a.source)) {\n    desc = a.source;\n  }\n  const descHtml = desc ? `<br><small style=\"color:#888;\">${desc}</small>` : '';\n  return `<li style=\"margin-bottom:8px;\"><a href=\"${a.link}\" style=\"color:#6366f1;text-decoration:none;\">${a.title}</a>${descHtml}</li>`;\n}).join('');\n\nconst html = `\n<div style=\"max-width:600px;margin:0 auto;font-family:sans-serif;color:#333;\">\n  <h1 style=\"color:#1a1a2e;border-bottom:2px solid #6366f1;padding-bottom:8px;\">Nexus Daily Digest</h1>\n  <p style=\"color:#666;font-size:14px;\">Topics: ${topics.join(', ')} | ${itemCount} items</p>\n  <div style=\"background:#f8f9fa;padding:16px;border-radius:8px;margin:16px 0;line-height:1.6;\">\n    ${summary}\n  </div>\n  <h2 style=\"color:#1a1a2e;font-size:16px;\">Sources</h2>\n  <ul style=\"padding-left:20px;\">${articleLinks}</ul>\n  <hr style=\"border:none;border-top:1px solid #eee;margin-top:24px;\">\n  <p style=\"color:#aaa;font-size:12px;\">Generated by Nexus Digest Agent</p>\n</div>`;\n\nreturn [{\n  json: {\n    digest_record_id: digestRecordId,\n    email: email,\n    html_content: html,\n    summary: summary,\n    item_count: itemCount,\n    sent_at: new Date().toISOString()\n  }\n}];"
        },
        "id": "507edaf4-1a94-42c1-95a6-5b4ab826cbdf",
        "name": "Format HTML Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          304
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_DIGESTS_TABLE_ID",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "last_sent_at": "={{ $json.sent_at }}",
              "item_count": "={{ $json.item_count }}",
              "last_digest_content": "={{ $json.html_content }}",
              "id": "={{ $json.digest_record_id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "topics",
                "displayName": "topics",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "frequency",
                "displayName": "frequency",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "daily",
                    "value": "daily"
                  },
                  {
                    "name": "weekly",
                    "value": "weekly"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "active",
                    "value": "active"
                  },
                  {
                    "name": "paused",
                    "value": "paused"
                  },
                  {
                    "name": "error",
                    "value": "error"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "last_sent_at",
                "displayName": "last_sent_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "item_count",
                "displayName": "item_count",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "last_digest_content",
                "displayName": "last_digest_content",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "error_message",
                "displayName": "error_message",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "4d22bee7-e341-4132-bb79-a5ac1c4c7eaf",
        "name": "Update Digest Record",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1824,
          304
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_INTERACTIONS_TABLE_ID",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "agent": "digest",
              "input_preview": "={{ ('Digest for: ' + ($('Prepare Digest Query').first().json.topics || []).join(', ')).slice(0, 200) }}",
              "output_preview": "={{ ($json.summary || '').slice(0, 200) }}",
              "status": "success",
              "source": "digest-agent",
              "response_time_ms": 0
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "docmentor",
                    "value": "docmentor"
                  },
                  {
                    "name": "review",
                    "value": "review"
                  },
                  {
                    "name": "digest",
                    "value": "digest"
                  },
                  {
                    "name": "file",
                    "value": "file"
                  },
                  {
                    "name": "system",
                    "value": "system"
                  },
                  {
                    "name": "general",
                    "value": "general"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "input_preview",
                "displayName": "input_preview",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_preview",
                "displayName": "output_preview",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "response_time_ms",
                "displayName": "response_time_ms",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "success",
                    "value": "success"
                  },
                  {
                    "name": "error",
                    "value": "error"
                  },
                  {
                    "name": "timeout",
                    "value": "timeout"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "error_message",
                "displayName": "error_message",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "2d7fff93-f213-4d55-b2a9-315dbf897d34",
        "name": "Log Digest Interaction",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          2048,
          304
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "path": "digest/latest",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "f9079a69-b907-455b-991e-49b08ad71aa9",
        "name": "GET /digest/latest",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          608
        ],
        "webhookId": "digest-latest"
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_DIGESTS_TABLE_ID",
            "mode": "id"
          },
          "filterByFormula": "=NOT({last_sent_at} = '')",
          "returnAll": false,
          "limit": 1,
          "options": {},
          "sort": {
            "property": [
              {
                "field": "last_sent_at",
                "direction": "desc"
              }
            ]
          }
        },
        "id": "1e7358f1-e1ee-4bab-bcb9-768eb6d6f9c1",
        "name": "Read Latest Digest",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          240,
          608
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nif (!items || items.length === 0 || !items[0].json || Object.keys(items[0].json).length === 0) {\n  return [{ json: { digest_id: null, content: null, sent_at: null, item_count: 0, message: \"No digests have been generated yet. Configure a digest first.\" } }];\n}\n\nconst record = items[0].json.fields || items[0].json;\n\nif (!record.last_digest_content) {\n  return [{ json: { digest_id: record.id || null, content: null, sent_at: null, item_count: 0, message: \"Digest is configured but hasn't been generated yet.\" } }];\n}\n\nreturn [{\n  json: {\n    digest_id: record.id || record.record_id || null,\n    content: record.last_digest_content || null,\n    sent_at: record.last_sent_at || null,\n    item_count: record.item_count || 0\n  }\n}];"
        },
        "id": "bfafc7cd-e0d3-47e6-a675-8c06e2e42cda",
        "name": "Format Latest Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          608
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "97e4bd60-a720-48f7-852d-4cc4f77b72e3",
        "name": "Respond Latest Digest",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          720,
          608
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "check-valid",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          424,
          0
        ],
        "id": "check-valid-node-id",
        "name": "Check Valid"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ error: $json.error, status: 'invalid' }) }}",
          "options": {
            "responseCode": 400
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          624,
          150
        ],
        "id": "respond-error-node-id",
        "name": "Respond Validation Error"
      },
      {
        "parameters": {
          "jsCode": "const saved = $('Save Digest Config').first().json;\nconst validated = $('Validate Config').first().json;\n\nlet topics = [];\ntry {\n  topics = typeof validated.topics === 'string' ? JSON.parse(validated.topics) : (validated.topics || []);\n} catch { topics = []; }\n\nreturn [{\n  json: {\n    digest_record_id: saved.id || saved.record_id || '',\n    topics: topics,\n    email: validated.email || '',\n    search_query: topics.join(' OR ')\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1112,
          160
        ],
        "id": "on-demand-prepare-id",
        "name": "Prepare On-Demand Query"
      },
      {
        "parameters": {
          "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.search_query) }}&hl=en-US&gl=US&ceid=US:en",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            },
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1352,
          160
        ],
        "id": "on-demand-fetch-id",
        "name": "Fetch On-Demand RSS"
      },
      {
        "parameters": {
          "jsCode": "const rssText = $json.data || $json.body || $json || '';\nconst meta = $('Prepare On-Demand Query').first().json;\nconst topics = meta.topics;\n\nconst items = [];\nconst itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\nconst rawStr = typeof rssText === 'string' ? rssText : JSON.stringify(rssText);\nconst matches = rawStr.match(itemRegex) || [];\n\nfor (const match of matches.slice(0, 20)) {\n  const titleMatch = match.match(/<title><!\\[CDATA\\[(.*?)\\]\\]>|<title>(.*?)<\\/title>/);\n  const linkMatch = match.match(/<link>(.*?)<\\/link>/);\n  const sourceMatch = match.match(/<source[^>]*>(.*?)<\\/source>/);\n  const title = (titleMatch?.[1] || titleMatch?.[2] || 'Untitled').trim();\n  const link = (linkMatch?.[1] || '').trim();\n  const source = (sourceMatch?.[1] || '').trim();\n  items.push({ title, link, source });\n}\n\nconst seen = new Set();\nconst unique = items.filter(a => {\n  const key = a.title.toLowerCase();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n}).slice(0, 10);\n\nconst summaryInput = unique.map((a, i) =>\n  `${i + 1}. ${a.title}${a.source ? ' (' + a.source + ')' : ''}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    articles: unique,\n    summary_input: summaryInput || 'No articles found for topics: ' + topics.join(', '),\n    item_count: unique.length,\n    topics: topics,\n    digest_record_id: meta.digest_record_id,\n    email: meta.email\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1592,
          160
        ],
        "id": "on-demand-aggregate-id",
        "name": "Build On-Demand Input"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.OLLAMA_URL }}/api/chat",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'llama3', stream: false, messages: [ { role: 'system', content: 'You are a digest writer. Summarize the following news items into a concise, well-organized digest. Group related items by theme. Use HTML formatting: <h3> for theme headings, <p> for paragraphs, <ul><li> for bullet points. Do NOT use markdown. Keep it scannable and informative but brief. Output only the HTML content, no wrapper tags.' }, { role: 'user', content: 'Create a digest for topics: ' + $json.topics.join(', ') + '\\n\\nArticles:\\n' + $json.summary_input } ] }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1832,
          160
        ],
        "id": "on-demand-ollama-id",
        "name": "Summarize On-Demand"
      },
      {
        "parameters": {
          "jsCode": "const ollamaResponse = $json;\nlet summary = ollamaResponse.message?.content || ollamaResponse.response || 'No summary generated.';\nconst meta = $('Build On-Demand Input').first().json;\nconst articles = meta.articles || [];\nconst topics = meta.topics || [];\nconst itemCount = meta.item_count || 0;\n\n// Markdown fallback\nif (summary.includes('**') || summary.match(/^\\* /m) || summary.match(/^#{1,3} /m)) {\n  summary = summary\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.+)$/gm, '<h3>$1</h3>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/^\\* (.+)$/gm, '<li>$1</li>')\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    .replace(/(<li>.*<\\/li>\\n?)+/g, (m) => '<ul>' + m + '</ul>')\n    .replace(/\\n{2,}/g, '</p><p>')\n    .replace(/\\n/g, '<br>');\n  summary = '<p>' + summary + '</p>';\n  summary = summary.replace(/<p>\\s*<h3>/g, '<h3>').replace(/<\\/h3>\\s*<\\/p>/g, '</h3>');\n  summary = summary.replace(/<p>\\s*<ul>/g, '<ul>').replace(/<\\/ul>\\s*<\\/p>/g, '</ul>');\n  summary = summary.replace(/<p>\\s*<\\/p>/g, '');\n} else if (!summary.includes('<')) {\n  summary = summary.split(/\\n{2,}/).map(p => '<p>' + p.replace(/\\n/g, '<br>') + '</p>').join('');\n}\n\nconst articleLinks = articles.map(a => {\n  let desc = '';\n  if (a.source && !a.title.includes(a.source)) desc = a.source;\n  const descHtml = desc ? `<br><small style=\"color:#888;\">${desc}</small>` : '';\n  return `<li style=\"margin-bottom:8px;\"><a href=\"${a.link}\" style=\"color:#6366f1;text-decoration:none;\">${a.title}</a>${descHtml}</li>`;\n}).join('');\n\nconst html = `\n<div style=\"max-width:600px;margin:0 auto;font-family:sans-serif;color:#333;\">\n  <h1 style=\"color:#1a1a2e;border-bottom:2px solid #6366f1;padding-bottom:8px;\">Nexus Daily Digest</h1>\n  <p style=\"color:#666;font-size:14px;\">Topics: ${topics.join(', ')} | ${itemCount} items</p>\n  <div style=\"background:#f8f9fa;padding:16px;border-radius:8px;margin:16px 0;line-height:1.6;\">\n    ${summary}\n  </div>\n  <h2 style=\"color:#1a1a2e;font-size:16px;\">Sources</h2>\n  <ul style=\"padding-left:20px;\">${articleLinks}</ul>\n  <hr style=\"border:none;border-top:1px solid #eee;margin-top:24px;\">\n  <p style=\"color:#aaa;font-size:12px;\">Generated by Nexus Digest Agent</p>\n</div>`;\n\nreturn [{\n  json: {\n    digest_record_id: meta.digest_record_id,\n    html_content: html,\n    summary: summary,\n    item_count: itemCount,\n    sent_at: new Date().toISOString()\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2072,
          160
        ],
        "id": "on-demand-format-id",
        "name": "Format On-Demand Result"
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "YOUR_AIRTABLE_BASE_ID",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "YOUR_DIGESTS_TABLE_ID",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "last_sent_at": "={{ $json.sent_at }}",
              "item_count": "={{ $json.item_count }}",
              "last_digest_content": "={{ $json.html_content }}",
              "id": "={{ $json.digest_record_id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "last_sent_at",
                "displayName": "last_sent_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "item_count",
                "displayName": "item_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "last_digest_content",
                "displayName": "last_digest_content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          2312,
          160
        ],
        "id": "on-demand-save-id",
        "name": "Save On-Demand Digest",
        "credentials": {
          "airtableTokenApi": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "Nexus Digest <your-smtp-user@ethereal.email>",
          "toEmail": "={{ $('Prepare On-Demand Query').first().json.email }}",
          "subject": "=Your Nexus Digest \u2014 {{ $('Build On-Demand Input').first().json.topics.join(', ') }}",
          "emailType": "html",
          "html": "={{ $json.html_content }}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          2072,
          360
        ],
        "id": "email-send-ondemand-id",
        "name": "Send Digest Email",
        "credentials": {
          "smtp": {
            "id": "YOUR_SMTP_CREDENTIAL_ID",
            "name": "Ethereal SMTP (Demo)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "fromEmail": "Nexus Digest <your-smtp-user@ethereal.email>",
          "toEmail": "={{ $('Prepare Digest Query').first().json.email }}",
          "subject": "=Your Nexus Digest \u2014 {{ $('Aggregate Top Items').first().json.topics.join(', ') }}",
          "emailType": "html",
          "html": "={{ $json.html_content }}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1600,
          504
        ],
        "id": "email-send-cron-id",
        "name": "Send Scheduled Email",
        "credentials": {
          "smtp": {
            "id": "YOUR_SMTP_CREDENTIAL_ID",
            "name": "Ethereal SMTP (Demo)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "digest/query",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          220,
          800
        ],
        "id": "digest-query-webhook",
        "name": "POST /digest/query",
        "webhookId": "digest-query"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst message = (body.message || '').trim();\n\n// Extract search topic from natural language message\n// Remove common question patterns to get the core topic\nlet topic = message\n  .replace(/^(what('s| is| are)|tell me|show me|give me|find|look up|search|get|fetch)/i, '')\n  .replace(/^(the )?(latest|recent|current|new|breaking|today'?s?|this week'?s?)/i, '')\n  .replace(/^(news|updates|articles|stories|headlines|info|information)\\b/i, '')\n  .replace(/^(about|on|for|regarding|related to|in)/i, '')\n  .replace(/[?.!]+$/g, '')\n  .trim();\n\n// If extraction left nothing, use the full message as the topic\nif (!topic || topic.length < 2) {\n  topic = message.replace(/[?.!]+$/g, '').trim();\n}\n\nreturn [{\n  json: {\n    topic: topic,\n    original_message: message,\n    session_id: body.session_id || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          800
        ],
        "id": "extract-query-topic",
        "name": "Extract Query Topic"
      },
      {
        "parameters": {
          "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.topic) }}&hl=en-US&gl=US&ceid=US:en",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            },
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          800
        ],
        "id": "fetch-query-rss",
        "name": "Fetch Query RSS",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const rssText = $json.data || $json.body || '';\nconst topic = $('Extract Query Topic').first().json.topic;\nconst items = [];\n\nconst itemMatches = rssText.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n\nfor (const itemXml of itemMatches.slice(0, 8)) {\n  const titleMatch = itemXml.match(/<title>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/);\n  const linkMatch = itemXml.match(/<link>(.*?)<\\/link>/);\n  const pubDateMatch = itemXml.match(/<pubDate>(.*?)<\\/pubDate>/);\n  const sourceMatch = itemXml.match(/<source[^>]*>(.*?)<\\/source>/);\n  const descMatch = itemXml.match(/<description>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/description>/s);\n\n  const title = (titleMatch?.[1] || '').trim();\n  const link = (linkMatch?.[1] || '').trim();\n  const source = (sourceMatch?.[1] || '').trim();\n\n  let description = (descMatch?.[1] || '').trim();\n  description = description.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\");\n  description = description.replace(/<[^>]*>/g, '').trim();\n  if (!description || description.match(/^https?:\\/\\//) || description.toLowerCase() === title.toLowerCase()) {\n    description = source ? 'Source: ' + source : '';\n  }\n\n  if (title) {\n    items.push({ title, link, source, description, pubDate: pubDateMatch?.[1] || '' });\n  }\n}\n\nconst articleSummaries = items.map((a, i) =>\n  (i + 1) + '. ' + a.title + (a.source ? ' (' + a.source + ')' : '') + (a.description && a.description !== 'Source: ' + a.source ? ' \u2014 ' + a.description : '')\n).join('\\n');\n\nreturn [{\n  json: {\n    topic: topic,\n    articles: items,\n    item_count: items.length,\n    articles_text: articleSummaries\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          800
        ],
        "id": "parse-query-articles",
        "name": "Parse Query Articles"
      },
      {
        "parameters": {
          "url": "={{ $env.OLLAMA_URL }}/api/chat",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  model: 'llama3',\n  stream: false,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a news analyst. Summarize the following news articles about \"' + $json.topic + '\" into a clear, conversational briefing. Lead with the most important developments. Use 3-5 concise paragraphs. Write in plain text, no markdown or HTML formatting. Focus on facts and key takeaways.'\n    },\n    {\n      role: 'user',\n      content: 'Here are ' + $json.item_count + ' recent articles about ' + $json.topic + ':\\n\\n' + $json.articles_text + '\\n\\nProvide a concise news briefing based on these articles.'\n    }\n  ]\n}) }}",
          "options": {
            "timeout": 120000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          800
        ],
        "id": "summarize-query",
        "name": "Summarize Query"
      },
      {
        "parameters": {
          "jsCode": "const ollamaResponse = $json;\nconst summary = ollamaResponse.message?.content || ollamaResponse.response || 'No summary available.';\nconst articles = $('Parse Query Articles').first().json.articles || [];\nconst topic = $('Parse Query Articles').first().json.topic;\nconst itemCount = $('Parse Query Articles').first().json.item_count || 0;\n\n// Build article links as plain text for chat\nconst sourceList = articles.slice(0, 5).map(a =>\n  '\u2022 ' + a.title + (a.source ? ' (' + a.source + ')' : '')\n).join('\\n');\n\nconst response = summary + '\\n\\n\ud83d\udcf0 Sources (' + itemCount + ' articles):\\n' + sourceList;\n\nreturn [{\n  json: {\n    response: response,\n    topic: topic,\n    item_count: itemCount,\n    agent: 'digest'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1320,
          800
        ],
        "id": "format-chat-response",
        "name": "Format Chat Response"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}"
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1540,
          800
        ],
        "id": "respond-query",
        "name": "Respond Query"
      }
    ],
    "connections": {
      "POST /digest/configure": {
        "main": [
          [
            {
              "node": "Validate Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Config": {
        "main": [
          [
            {
              "node": "Check Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Digest Config": {
        "main": [
          [
            {
              "node": "Respond Config Saved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily 8AM": {
        "main": [
          [
            {
              "node": "Read Active Digests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Active Digests": {
        "main": [
          [
            {
              "node": "Loop Digests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Digests": {
        "main": [
          [],
          [
            {
              "node": "Prepare Digest Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Digest Query": {
        "main": [
          [
            {
              "node": "Fetch News/RSS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch News/RSS": {
        "main": [
          [
            {
              "node": "Aggregate Top Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Top Items": {
        "main": [
          [
            {
              "node": "Summarize via Ollama",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize via Ollama": {
        "main": [
          [
            {
              "node": "Format HTML Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format HTML Email": {
        "main": [
          [
            {
              "node": "Update Digest Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Digest Record": {
        "main": [
          [
            {
              "node": "Log Digest Interaction",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Scheduled Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Digest Interaction": {
        "main": [
          [
            {
              "node": "Loop Digests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET /digest/latest": {
        "main": [
          [
            {
              "node": "Read Latest Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Latest Digest": {
        "main": [
          [
            {
              "node": "Format Latest Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Latest Response": {
        "main": [
          [
            {
              "node": "Respond Latest Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Valid": {
        "main": [
          [
            {
              "node": "Save Digest Config",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Validation Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond Config Saved": {
        "main": [
          [
            {
              "node": "Prepare On-Demand Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare On-Demand Query": {
        "main": [
          [
            {
              "node": "Fetch On-Demand RSS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch On-Demand RSS": {
        "main": [
          [
            {
              "node": "Build On-Demand Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build On-Demand Input": {
        "main": [
          [
            {
              "node": "Summarize On-Demand",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize On-Demand": {
        "main": [
          [
            {
              "node": "Format On-Demand Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format On-Demand Result": {
        "main": [
          [
            {
              "node": "Save On-Demand Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save On-Demand Digest": {
        "main": [
          [
            {
              "node": "Send Digest Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST /digest/query": {
        "main": [
          [
            {
              "node": "Extract Query Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Query Topic": {
        "main": [
          [
            {
              "node": "Fetch Query RSS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Query RSS": {
        "main": [
          [
            {
              "node": "Parse Query Articles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Query Articles": {
        "main": [
          [
            {
              "node": "Summarize Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Query": {
        "main": [
          [
            {
              "node": "Format Chat Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Chat Response": {
        "main": [
          [
            {
              "node": "Respond Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Your Name",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-21T06:12:59.299Z",
        "id": 133,
        "workflowId": "PLLjjQOadlUt2rAE42BiX",
        "versionId": "029266ba-7441-4fdd-b3c4-5b647a617517",
        "event": "activated",
        "userId": "aeced203-b33c-4669-a467-84f86bfd273f"
      }
    ]
  }
}