n8n-workflows/system-health-monitor.json
{
  "name": "System Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.OLLAMA_URL }}/api/tags",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": false
        }
      },
      "id": "check-ollama",
      "name": "Check Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.QDRANT_URL }}/healthz",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-qdrant",
      "name": "Check Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.DOCLING_URL }}/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-docling",
      "name": "Check Docling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_URL }}/healthz",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-n8n",
      "name": "Check n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 540],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "multiplex",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Gather results from the 4 health checks\n// Each input may have succeeded or failed (continueOnFail)\n\nfunction checkResult(items, index) {\n  const item = items[index];\n  if (!item) return { status: 'down', response_ms: 0 };\n  const error = item.json?.error || item.json?.code === 'ECONNREFUSED';\n  if (error) return { status: 'down', response_ms: 0 };\n  return { status: 'up', response_ms: item.json?.response_ms || 0 };\n}\n\nconst ollamaItems = $input.all();\n\n// We receive items from the merge node\n// Parse based on what we know\nconst results = {\n  timestamp: new Date().toISOString(),\n  ollama: { status: 'down', response_ms: 0 },\n  qdrant: { status: 'down', response_ms: 0 },\n  docling: { status: 'down', response_ms: 0 },\n  n8n: { status: 'down', response_ms: 0 },\n  all_healthy: false\n};\n\n// Check each input item for errors\nfor (const item of $input.all()) {\n  const hasError = item.json?.error || item.json?.code;\n  if (!hasError) {\n    // Try to identify which service based on response content\n    // This is a simplified version - in practice, tag each HTTP node\n  }\n}\n\n// Simpler approach: use $('node_name').first() to access each check\ntry {\n  const ollamaResult = $('Check Ollama').first();\n  results.ollama = ollamaResult.json?.error \n    ? { status: 'down', response_ms: 0 } \n    : { status: 'up', response_ms: 0 };\n} catch(e) { /* stays down */ }\n\ntry {\n  const qdrantResult = $('Check Qdrant').first();\n  results.qdrant = qdrantResult.json?.error\n    ? { status: 'down', response_ms: 0 }\n    : { status: 'up', response_ms: 0 };\n} catch(e) { /* stays down */ }\n\ntry {\n  const doclingResult = $('Check Docling').first();\n  results.docling = doclingResult.json?.error\n    ? { status: 'down', response_ms: 0 }\n    : { status: 'up', response_ms: 0 };\n} catch(e) { /* stays down */ }\n\ntry {\n  const n8nResult = $('Check n8n').first();\n  results.n8n = n8nResult.json?.error\n    ? { status: 'down', response_ms: 0 }\n    : { status: 'up', response_ms: 0 };\n} catch(e) { /* stays down */ }\n\nresults.all_healthy = \n  results.ollama.status === 'up' &&\n  results.qdrant.status === 'up' &&\n  results.docling.status === 'up' &&\n  results.n8n.status === 'up';\n\nreturn [{ json: results }];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "health_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "all_healthy": "={{ $json.all_healthy }}",
            "ollama_status": "={{ $json.ollama.status }}",
            "ollama_ms": "={{ $json.ollama.response_ms }}",
            "qdrant_status": "={{ $json.qdrant.status }}",
            "qdrant_ms": "={{ $json.qdrant.response_ms }}",
            "docling_status": "={{ $json.docling.status }}",
            "docling_ms": "={{ $json.docling.response_ms }}",
            "n8n_status": "={{ $json.n8n.status }}",
            "n8n_ms": "={{ $json.n8n.response_ms }}"
          }
        }
      },
      "id": "write-airtable",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1140, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-unhealthy",
              "operator": { "type": "boolean", "operation": "false" },
              "leftValue": "={{ $json.all_healthy }}",
              "rightValue": ""
            }
          ]
        }
      },
      "id": "check-unhealthy",
      "name": "Any Service Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🚨 Nexus Health Alert!\n\nOllama: {{ $json.ollama.status }}\nQdrant: {{ $json.qdrant.status }}\nDocling: {{ $json.docling.status }}\nn8n: {{ $json.n8n.status }}\n\nTimestamp: {{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-status",
      "name": "GET /health/status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 600],
      "webhookId": "health-status"
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "health_logs"
        },
        "limit": 1,
        "sort": {
          "property": [
            {
              "field": "created_at",
              "direction": "desc"
            }
          ]
        }
      },
      "id": "read-latest-health",
      "name": "Read Latest Health",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 600],
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ollama: { status: $json.ollama_status, response_ms: $json.ollama_ms }, qdrant: { status: $json.qdrant_status, response_ms: $json.qdrant_ms }, docling: { status: $json.docling_status, response_ms: $json.docling_ms }, n8n: { status: $json.n8n_status, response_ms: $json.n8n_ms }, all_healthy: $json.all_healthy }) }}",
        "options": {}
      },
      "id": "respond-health",
      "name": "Respond Health Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 600]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          { "node": "Check Ollama", "type": "main", "index": 0 },
          { "node": "Check Qdrant", "type": "main", "index": 0 },
          { "node": "Check Docling", "type": "main", "index": 0 },
          { "node": "Check n8n", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Ollama": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Check Qdrant": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Check Docling": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Check n8n": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate Results": {
      "main": [
        [{ "node": "Log to Airtable", "type": "main", "index": 0 }]
      ]
    },
    "Log to Airtable": {
      "main": [
        [{ "node": "Any Service Down?", "type": "main", "index": 0 }]
      ]
    },
    "Any Service Down?": {
      "main": [
        [{ "node": "Send Alert", "type": "main", "index": 0 }],
        []
      ]
    },
    "GET /health/status": {
      "main": [
        [{ "node": "Read Latest Health", "type": "main", "index": 0 }]
      ]
    },
    "Read Latest Health": {
      "main": [
        [{ "node": "Respond Health Status", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "health" },
    { "name": "monitoring" }
  ]
}
